*, :after, :before {
    padding:0;
    margin:0;
    outline:none;
    border:none;
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration:none;
}

li {
    list-style:none;
}

input, button {
display:block;
}
.app {
    height:100vh;
    overflow:hidden;
}
